.pricing_card {
    width: 35%;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    border: 2px solid black;
    padding: 0 2% 3% 2%;
    box-shadow: 0px 7px 0px 0px #7c6523;
}

.pricing_card-img {
    width: 30%;
    padding: 20px 0 15px 0;
}

.pricing_card-title {
    font-size: 2.9svw;
    font-weight: 600;
}

.pricing_card-subtitle {
    font-weight: 600;
    color: #666666;
}

.pricing_card-pricing {
    font-size: 5svw;
    font-weight: 600;
    margin: 10px 0 10px 0;
}

.pricing_card-list {
    list-style: none;
}

.pricing_card-list-item {
    margin: 10px 0 10px 0 ;
    color: #666666;
    display: flex;
    align-items: center;
    gap: 15px;
}

.pricing_card-list-item img{
    width: 20px;
    height: 20px;
}


.pricing_card-button {
    width: 80%;
    text-align: center;
    background-color: #99948f;
    border: 2px solid black;
    color: black;
    font-size: 2.5svw;
    font-weight: 600;
    padding: 15px 0 15px 0;
    margin: 20px 0 30px 10%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 7px 0px 0px #bfbfbf;
}

.pricing_card-footer {
    text-align: center;
    font-weight: 600;
}

@media (max-width: 845px) {
    .pricing_card {
    width: 80%;
    margin-bottom: 30px;
}
.pricing_card-title {
    font-size: 7svw;
    font-weight: 600;
}

.pricing_card-pricing {
    font-size: 11svw;
}

.pricing_card-button {
    font-size: 6svw;
}

}
